$colors: (
        font: #1f1947,
        font-lighten: #3c4357,
        font-accent: #6a7486,
        blue: #005ae1,
        blue-darken: #0052CC,
        blue-lighten: #f7f9fb,
        red: #EA4B5B,
        red-lighten: #FFD7DC,
        green: #2CAE4A,
        green-lighten: #EDFAEE
);
